<nav class="breadcrumb row">
    <a class="breadcrumb-item" href="#">Home</a>
    <a *ngFor="let item of fileService.currentPathSplit; let i = index; let last = last" class="breadcrumb-item" [ngClass]="{active: last}"[routerLink]="['/files/' + fileService.getPathByIndex(i)]">{{item}}</a>
  </nav>
  <div class="row">
    <div id="toolbar" class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" (click)="newDir()"><i class="fa fa-plus"></i></button>
        <button id="choose_file" type="button" class="btn btn-outline-primary" (click)="chooseFile()"><i class="fa fa-upload"></i></button>
        <input id="choose_file_input" type="file" name="film" id="file" class="browse" (change)="upload($event)">
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>